.maindiv{
    height:100vh;
    border-left:15px solid #e1e1e1;
}
.common-navbar{
    background-color:rgb(156, 153, 153);
    
}
.wms-sidenavbar.selected {
    font-size: 18px; /* Change this value as per your requirement */
    font-weight: bold;
  }
  

Nav.Link{
    color: rgb(7, 7, 7);
}
.wms-navbar{
    font-family: arial;
    font-size: 22px;
    letter-spacing: 5px;
    color: rgb(255, 253, 253);
    font-weight: normal;
}
.wms-sidenavbar{
    
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
}
.nav-common{
    height:7vh;
    border-radius: 8px
}
*{
    font-size: 13px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:768px) {
    .nav-common{
        padding: 10px;
    }
    .maindiv{
        height:200vh;
        border-left:15px solid #e1e1e1;
    }
    .flex-container{
        display: block;
        flex-direction: row;
        padding: 20px;
        margin-top: 100px;
    }
    
    .fields-div{
    margin-top: 60px;
    }
    .common-fields-bug{
        border: none;
        margin-top: 10px;
        border-bottom: 1px dotted #E1E1E1;
    }
}

.fields-div{
   padding: 20px;
  
    }


.common-fields{
    border: none;
    margin-top: 10px;
    color: black;
    border-bottom: 1px dotted #E1E1E1;
}
.common-fields-stagging{
    border: none;
    margin-top: 10px;
    color: black;
   
        color: black;
        background-color: rgba(140, 138, 221, 0.384);
    border-bottom: 1px dotted #E1E1E1;
}
.common-fields-current{
    border: none;
    margin-top: 10px;
    color: black;
   
        color: black;
        background-color: rgba(59, 58, 139, 0.384);
    border-bottom: 1px dotted #E1E1E1;
}
.common-fields-near{
    border: none;
    margin-top: 10px;
    color: black;
    color: black;
    background-color: rgba(76, 131, 60, 0.384);
    border-bottom: 1px dotted #E1E1E1;
}
.gradient-border {
    position: relative;
    padding-left:25px; /* Adjust padding to make space for the pseudo-element */
  }
  
  .gradient-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px; /* This width simulates the border */
    height: 100%;
    background: linear-gradient(to bottom, rgba(29, 58, 175, 1) 0%, rgba(2, 151, 70, 1) 100%);
  }
  
.stickynavbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
    width: 100%;  /* Full width navbar */
    background-color: #f8f9fa; /* Optional: Set background color to match your theme */
    box-shadow: 3px 4px 2px rgba(95, 94, 94, 0.1); /* Optional: Add shadow for better visibility */
  }

.materialinward-heading{
 
 padding:5px;
 color:white;
background: linear-gradient(90deg, rgba(29,58,175,1) 0%, rgba(2,151,70,1) 100%);
}
.sub-heading{
 
    padding:5px;
    color:white;
   background: #8f8f8f;
   }
.floating-label-custom {
    color: black !important;
  }


/* --------------------------------- */
.common-table-thead th{
    color: rgb(3, 3, 3);
    background-color: #e1e1e1;
    font-size: 12px;
    font-weight: normal;
}
.table-responsive {
    height: 25vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }


  /* styles.css */
.icon-hover {
    color: green;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  
  .icon-hover:hover {
    transform: scale(1.2); /* Enlarges the icon on hover */
  }
  

  /* -------------modal----------------------------------------------- */
  .modalheading{
    padding:10px;
 color:white;
background: linear-gradient(90deg, rgba(29,58,175,1) 0%, rgba(2,151,70,1) 100%);
  }


.common-button{
    padding: 5px;
    background-color: green;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
}
.unpack-3rddiv-scroll{
    margin-top:-40px;
  } 
@media(max-width:768px){
  .unpack-3rddiv-scroll{
    margin-top:-20px;
  } 
}

.apora-button{
   border:none;
   background:rgba(29, 58, 175, 1);
   color:white;
   padding:6px;
   border-radius:5px;
}
.apora-button-cancel{
    border:none;
    background:rgb(93, 93, 94);
    color:white;
    padding:6px;
    border-radius:5px;
 }
.apora-admin-subheading{
 
    padding:5px;
    color:rgb(17, 17, 17);
   background:  #e1e1e1;
   }


   .common-thead-body-scroll{
   position:sticky;
   top:0px;
   z-index:99
   }